/**
 * @file
 * Defines default strategy parameter values for the given timeframe.
 */

// Defines indicator's parameter values for the given pair symbol and timeframe.
struct Indi_Arrows_Params_{{ Timeframe }} : ArrowsIndiParams {
  Indi_Arrows_Params_{{ Timeframe }}() : ArrowsIndiParams(indi_arrows_defaults, PERIOD_{{ Timeframe }}) {
    shift = {{ Arrows_Indi_Arrows_Shift | default(0) }};
  }
} indi_arrows_{{ Timeframe | lower }};

// Defines strategy's parameter values for the given pair symbol and timeframe.
struct Stg_Arrows_Params_{{ Timeframe }} : StgParams {
  // Struct constructor.
  Stg_Arrows_Params_{{ Timeframe }}() : StgParams(stg_arrows_defaults) {
    lot_size = {{ Arrows_LotSize | default(0) }};
    signal_open_method = {{ Arrows_SignalOpenMethod | default(0) }};
    signal_open_filter_method = {{ Arrows_SignalOpenFilterMethod | default(1) }};
    signal_open_level = (float){{ Arrows_SignalOpenLevel | default(0) }};
    signal_open_boost = {{ Arrows_SignalOpenBoostMethod | default(0) }};
    signal_close_method = {{ Arrows_SignalCloseMethod | default(0) }};
    signal_close_level = (float){{ Arrows_SignalCloseLevel | default(0) }};
    price_stop_method = {{ Arrows_PriceStopMethod | default(0) }};
    price_stop_level = (float){{ Arrows_SignalCloseLevel | default(1) }};
    tick_filter_method = {{ Arrows_TickFilterMethod  | default(1) }};
    max_spread = {{ Arrows_MaxSpread | default(0) }};
  }
} stg_arrows_{{ Timeframe | lower }};
